amqp==5.3.1
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.0
attrs==26.1.0
billiard==4.2.4
boto3==1.43.62
botocore==1.43.62
celery==5.6.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
Django==6.0.1
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-dbbackup==5.3.0
django-storages==1.14.6
django-timezone-field==7.2.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
gevent==26.5.0
greenlet==3.5.3
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
inflection==0.5.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
minio==7.2.20
mysqlclient==2.2.7
packaging==25.0
pika==1.4.1
prompt_toolkit==3.0.52
pycparser==3.0
pycryptodome==3.23.0
PyJWT==2.10.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==2026.6.3
s3transfer==0.19.2
six==1.17.0
sqlcipher3==0.6.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
watchdog==6.0.0
wcwidth==0.7.0
zope.event==6.2
zope.interface==8.5